.button,.likeButton{
    flex:1;
    justify-content: center;
}


.reactionBar{
    top:-100%;
    display:none;

    position:absolute;
    transition:2s display linear;
}

.likeButton{
    position: relative;
}

.likeButton:hover .reactionBar{
    display:initial;
}