$solarSize:250px;
$sunSize:50px;
$plannetSize:80px;
$earthSize:15px;
$moonSize:10px;

@mixin hasOrbit(){
    position: relative;
    border-radius: 50%;
    border: 1px solid rgb(221, 217, 217);
}
@mixin inOrbit($size){
    position: absolute;
    top: -$size / 2;
    left: 50%;
    transform:translateX(-50%);
}
@mixin center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin circleShape($size){
    width: $size;
    height: $size;
    border-radius: 50%;
}

.solar {
    @include hasOrbit();
    @include circleShape($solarSize);
    // transform: perspective(1000px) rotateX(40deg) rotateY(40deg) rotateZ(40deg);
    animation: rotate 4s infinite forwards linear;
}

.plannet{
    @include hasOrbit();
    @include circleShape($plannetSize);
    @include inOrbit($plannetSize);
    animation: plannetRotate 2s infinite forwards linear;
}

.sun {
    @include center();
    @include circleShape($sunSize);
    background: #FFC74A;
}


.earth {
    @include center();
    @include circleShape($earthSize);
    background: #1C2851;
}

.moon {
    @include inOrbit($moonSize);
    @include circleShape($moonSize);
    background:#DFE6E7;
}

@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes plannetRotate {
    0%{transform:translateX(-50%) rotate(0deg);}
    100%{transform:translateX(-50%) rotate(360deg);}
}